<% @page_title = "避難場所の詳細情報" %>

<h1><%= @page_title %></h1>
<p><%= link_to "編集", [:edit, @shelter] %></p>
<table>
	<tr>
		<th width="150">管理番号</th>
		<td><%= @shelter.id %></td>
	</tr>
	<tr>
		<th>名前</th>
		<td><%= @shelter.name %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= @shelter.address %></td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td><%= @shelter.tel %></td>
	</tr>
	<tr>
		<th>緯度</th>
		<td><%= @shelter.lat %></td>
	</tr>
	<tr>
		<th>経度</th>
		<td><%= @shelter.lng %></td>
	</tr>
	<tr>
		<th>許容人数</th>
		<td><%= @shelter.capacity %></td>
	</tr>
	<tr>
		<th>タイプ</th>
		<td><%= @shelter.type %></td>
	</tr>
	<tr>
		<th>面積</th>
		<td><%= @shelter.floorage %></td>
	</tr>
</table> 
<p><%= link_to "topに戻る", :shelters %></p>